{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Space+Mono:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'  %}">
    <title>The pizza task!</title>
</head>
<body style="background-image: url({% static '/img/Background_Image.png' %});">
    <div class="container">
        <header class="header_area">
            <div class="menu-bar">
                <div class="menu">
                    <div><a class="link-logo" href="/"><img class="img-loho" src="{% static '/img/logo.png' %}" alt=""></a></div>
                    <div class="div-menu"><a class="link-menu" href="/">{Menu}</a></div>
                    <div class="order-phone"><a class="link-order" href="#pizza">Order now</a> <br>
                        <span class="span-call">Call</span>
                        <a class="link-phone" href="tel:0743 888 555">0743 888 555</a> <br>

       {% if user.is_authenticated %}
    <span class="span-or">Welcom, {{ user.username }}!</span>
      <br>
      <a class="a-exit" href="/logout">Exit</a>

    {% else %}
      <a class="link-login"  href="/login">log in</a> <br> <span class="span-or">Or</span>
      <br>
      <a class="link-login" href="/register">Registration</a>
    {% endif %}

                </div>
            </div>
        </header>
    {% block content %}
        {% endblock %}
            <!--  fontawesome  -->
    <script src="https://kit.fontawesome.com/1a7e8f9d2e.js" crossorigin="anonymous"></script>
    <script src="{% static '/js/basket.js' %}" crossorigin="anonymous"></script>
    </div>
</body>
</html>

